[submodule "periodic_tasks_simulator"]
	path = periodic_tasks_simulator
	url = https://github.com/KarlaSalamun/periodic_tasks_simulator.git
[submodule "ECF"]
	path = ECF
	url = https://github.com/KarlaSalamun/ECF.git
